.trackerSection{
    width: 30%;
    margin: auto;
    margin-top: 4rem;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 13px 3px rgb(212, 211, 211);
}
.trackerSection form div{
    display: flex;
    flex-direction: column;
}
.trackerSection form div input, .trackerSection form div select{
    width: 100%;
    padding: 10px;
    outline: none;
    margin-top: 3px;
    margin-bottom: 10px;
}
.trackerSection form div select{
    cursor: pointer;
}
.trackerSection form input[type="submit"]{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #db3545;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    outline: none;
}